{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    {% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}
    <div class="title-color title">
        <h1>Registration</h1>
    </div>
<div class="example-wrapper content-blok form-group">

    {{ form_start(form) }}
        {{ form_row(form.plainPassword, {
            label: 'Password'
        }) }}

        <button type="submit" class="btn btn-primary">Register</button>
    {{ form_end(form) }}
</div>
{% endblock %}
